body{
    width: 100%;
    height: 100vh;
    background: orange;
}
/* mobile-first */
/* @media(min-width:576px){
    body{
        background: #c75757;
    }
}
@media(min-width:768px) {
    body {
        background: #692dc4;
    }
}
@media(min-width:1000px) {
    body {
        background: #35bc5b;
    }
} */
/* desktop-first */
@media(max-width:1000px){
    body{
        background: gray;
    }
}
@media(max-width:768px) {
    body {
        background: rgb(90, 39, 219);
    }
}
@media(max-width:547px) {
    body {
        background: rgb(179, 20, 20);
    }
}